{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <h1>{{ book.title }}</h1>

    <ol>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author }}</li>
        <li>Year: {{ book.year }}</li>
        <li>ISBN: {{ book.isbn }}</li>
    </ol>

    <div class="form-group">
    <h1>Submit a review for {{ book.title }}</h1>
    <form action="/review/{{ book.id }}" method="POST">
        <input class="form-control" type="number" name="rating" min="1" max="5" placeholder="rating">
        <input class="form-control" type="text" name="title" placeholder="title">
        <input class="form-control" type="text" name="body" placeholder="body">
        <button type="submit" class="btn btn-primary mb-2">Submit review</button>
    </form>

    <div class="reviews">
        <ul>
            {% for review in reviews %}
                <li> 
                    {{ review.title }}
                    {{ review.rating }}
                    {{ review.body }}
                </li>
            {% else %}
                <li>No reviews yet!</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
