{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <div class="navbar">
        <a href="{{ url_for('index') }}"> Home</a>
    </div>

    <div class="book-information">
        <h1>{{ book.title }}</h1>
        <p>Title: {{ book.title }}</p>
        <p>Author: {{ book.author }}</p>
        <p>Year: {{ book.year }}</p>
        <p>ISBN: {{ book.isbn }}</p>
        <p>Number of reviews on Goodreads: {{ reviews_count }}</p>
        <p>Average rating on Goodreads: {{ average_rating }}</p>
    </div>

    <div class="form-group">
        <h2>Submit a review for {{ book.title }}</h2>
        <form action="/review/{{ book.id }}" method="POST">
            <input class="form-control" type="number" name="rating" min="1" max="5" placeholder="Rating">
            <input class="form-control" id="num-input-adjacent" type="text" name="title" placeholder="Review title">
            <input class="form-control" type="text" name="body" placeholder="Review body">
            <button type="submit" class="form-submit">Submit review</button>
    </form>

    <div class="reviews">
        <p>
            <h2 id="user-review-head">User Reviews</h2>
            {% for review in reviews %}
            <div class="user-review">
                <p>Reviewer: {{ review.username }}</p>
                <p>Rating: {{ review.rating }}</p>
                <p>Title: {{ review.title }}</p>
                <p>Review: {{ review.body }}</p>
            </div> 
            {% else %}
                <h4>No reviews yet - help us by adding one!</h4>
            {% endfor %}
        </p>
    </div>
</div>

{% endblock %}
