{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <div class="book-information">
        <h1>{{ book.title }}</h1>
        <p>Title: {{ book.title }}</p>
        <p>Author: {{ book.author }}</p>
        <p>Year: {{ book.year }}</p>
        <p>ISBN: {{ book.isbn }}</p>
    </div>

    <div class="form-group">
    <h1>Submit a review for {{ book.title }}</h1>
    <form action="/review/{{ book.id }}" method="POST">
        <input class="form-control" type="number" name="rating" min="1" max="5" placeholder="Rating">
        <input class="form-control" id="num-input-adjacent" type="text" name="title" placeholder="Review title">
        <input class="form-control" type="text" name="body" placeholder="Review body">
        <button type="submit" class="form-submit">Submit review</button>
    </form>

    <div class="reviews">
        <ul>
            {% for review in reviews %}
                <p>Rating: {{ review.rating }}</p>
                <p>Title: {{ review.title }}</p>
                <p>Review: {{ review.body }}</p>
            {% else %}
                <p>No reviews yet!</p>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
