{% extends "layout.html" %}

{% block title %}  
    Book Review Central
{% endblock %}

{% block body %}
    <h1>Book Review Central</h1>

    <h1>Sign Up</h1>

    <form action="{{ url_for('signup') }}" method="post">
        <div class="form-group">
            <input class="form-control" name="username" placeholder="Username">
        </div>

        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Login</button>
        </div>
    </form>
<!-- 
    <h2>Need an account? <a href="{{ url_for('signup') }}">Sign up here</a></h2> -->
{% endblock %}
