{% extends "layout.html" %}

{% block title %}  
    Literary Portal
{% endblock %}

{% block body %}
    <div class="login-status">
        <p>You're logged in! Click <a href="/logout">here</a> to log out!</p>
    </div>

    <div class="form-group">
        <div class="md-form mt-0">
            <h2>Search for a book</h2>
            <form action="/book_search" method="POST">
                <input type="text"
                name="book"
                placeholder="Search" aria-label="Search">
                <button class= "form-submit" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="search-result">
        {% for book in books %}
            <p class=""> 
                <a href="{{ url_for('book', book_id=book.id) }}">
                    {{ book.title }} by {{ book.author }}
                </a>
            </p>
        {% else %}
            <p>No books found!</p>
        {% endfor %}
    </div>
{% endblock %}
