{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}
{% if session['logged_in'] %}

You're logged in already!

{% else %}

<div class="form-group">
    <h1>Sign up</h1>
    <form action="/signup" method="POST">
        <input class="form-control" type="text" name="username" placeholder="Username" class=>
        <input class="form-control" type="text" name="password" placeholder="Password">
        <button type="submit" class="btn btn-primary mb-2">Sign up</button>
    </form>

    <h1>Log in</h1>
    <form action="/login" method="POST">
        <input class="form-control" type="text" name="username" placeholder="Username">
        <input class="form-control" type="text" name="password" placeholder="Password">
        <button type="submit" class="btn btn-primary mb-2">Log in</button>
    </form>
</div>

{% endif %}

{% endblock %}
