{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
{% if session['logged_in'] %}

You're logged in already!

{% else %}
<div class="container">
    <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>

<!-- <h2>Sign Up</h2>
<form action="{{ url_for('signup') }}" method="post">
    <div class="form-group">
        <input class="form-control" name="username" placeholder="Username">
    </div>

    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password">
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Sign Up</button>
    </div>
</form>

<h3>Already have an account? Log in here:</h3> -->
<!-- <form action="/login" method="POST">
    <input type="username" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log in">
</form> -->



{% endif %}
{% endblock %}