{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}
{% if session['logged_in'] %}

You're logged in already!

{% else %}
<h1>Sign up</h1>

<form action="/signup" method="POST">
    <input type="username" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign up">
</form>

<h1>Login in</h1>
<form action="/login" method="POST">
    <input type="username" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log in">
</form>


{% endif %}

{% endblock %}
