/* body {
background-image: url('/static/img/mid-res-books.jpg')
} */

.form-group {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Exo', sans-serif;
}

.form-submit {
  display: block;
  justify-content: center;
  margin: 0 auto;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 35px;
  text-decoration: none;
  font-size: 16px;
}

.search-result {
  padding: 15px 35px;
  text-align: center;
}

.search-result a:hover {
  color: blue;
  text-decoration: bold;
}

.reviews {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.book-information {
  display: block;
  margin: 15px auto;
  text-align: center;
  list-style-position: inside;
  font-size: 16px;
  font-family: 'Exo',
  sans-serif;
}

.user-review {
  font-family: 'Exo', sans-serif;
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=number] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#num-input-adjacent {
  width: 25%
}

.header {
    text-align: center;
}

.login-status {
  text-align: center;
}

.navbar {
  text-align: center;
}

h2 {
  padding-bottom: 5px;
  font-family: 'Exo',
  sans-serif;
}

p {
  margin-top: -2px;
  margin-bottom: -2px;
  font-family: 'Exo',
  sans-serif;
}