.form-group {
  display: block;
  align-items: center;
  text-align: center;
}

.form-submit {
  display: block;
  justify-content: center;
  margin: 0 auto;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 35px;
  text-decoration: none;
  font-size: 16px;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.header {
    text-align: center;
}

.login-status {
  color: red;
}

p {
  color: red;
}